<div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
  <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
    <img src="../assets/arp-composer-logo.svg" alt="Arp composer logo" width="50" height="50">

    <span class="fs-4"> ArpComposer </span>
  </a>

  <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
    <a class="me-3 py-2 text-dark text-decoration-none" (click)="openDrumEditor()" style="cursor: pointer;">Drum Composer</a>
    <a class="me-3 py-2 text-dark text-decoration-none" (click)="openArpeggioEditor()"  style="cursor: pointer;">Arp Composer</a>
    <a class="me-3 py-2 text-dark text-decoration-none" href="#">About</a>
  </nav>
</div>
<main>
  <div class="appContent">
    <router-outlet></router-outlet>
  </div>
</main>