<div class="row">
    <div class="col-1">
      {{row.instrumentName}}
    </div>
    <div class="col-2">
      <button (click)='onClear()'>Clear</button>
      <button (click)='onPattern1()'>1</button>
      <button (click)='onPattern2()'>2</button>
      <button (click)='onRandom()'>Rnd</button>        
    </div>
    <div class="col-9">
      @for(cell of row.cells; track cell)
      {
        <app-arp2-track-cell [cell]="cell" [cellValue]="cell.value" [noteLength]="noteLength"  />
      }
    </div>
  </div>