<div class="row">
  <div class="col-7">
    <p-button (click)="onPlay()" id="btnPlay" class="btnTopMenu" [disabled]="isPlaying">Play</p-button>
    <p-button (click)="onStop()" id="btnStop" class="btnTopMenu" [disabled]="!isPlaying">Stop</p-button>
    <p-button (click)="onClear()" id="btnClear" class="btnTopMenu">Clear</p-button>
    <p-button (click)="onDownload()" id="btnMidiDownload" class="btnTopMenu">Midi Export</p-button>    
    <p-button (click)="onSavePattern()" id="btnExportArp" class="btnTopMenu">Export Arp</p-button>    

  </div>

  <div class="col-2">
    <div>Note length:</div>
    <select (change)="onNoteLengthChange($event)" class="form-select">
      <option value="16">Sixteenth</option>
      <option value="8">Eigth</option>
      <option value="4">Quarter</option>
      <option value="2">Half</option>
      <option value="1">Whole</option>
    </select>
  </div>
  <div class="col-1">
    Tempo: 
    <input type="text" id="txtTempo" [(ngModel)]="tempo" class="form-control" >
  </div>
  <div class="col-1">
    Instrument:
    <input type="text" id="txtInstrument" [(ngModel)]="instrument" class="form-control" >
  </div>
  <div class="col-1">
    <div>Measures: </div>
    <select (change)="setMeasureCount($event)" class="form-select">
      <option value="1" selected>1</option>
      <option value="2" >2</option>
    </select>
  </div>  
</div>









<p-panel header=" Arp Composer" [toggleable]="false">

  <div id="divGrid" class="container">
    <div class="row" #divTickVizRow>
      <div class="col-3"></div>
      <div class="col-9">
        @for(tick of arpGridModel.ticks; track tick){
        <span class="spnTick"></span>
        }
      </div>

    </div>
    @for(row of arpGridModel.rows; track row)
    {
      <app-arp2-track-row [noteLength]="noteLength" 
                          [row]="row" 
                          [totalTicks]="arpGridModel.totalTicks">
      </app-arp2-track-row>
    }
  </div>

  <div class="row">
    <div class="col-6">
      <label class="form-label">Chord Progression:</label>
      <div>
        <textarea [(ngModel)]="chordProgression" rows="3" class="txtChords" class="form-control"></textarea>
      </div>
      <select (change)="onProgressionChange($event)" class="form-select">
          <option value="">Select progression</option>
          <option *ngFor="let progression of commonChords" value={{progression.value}}>{{progression.name}}</option>
      </select>
      <p-button (click)="makeRandomSong()">Random Song</p-button>    
    </div>
  </div>
</p-panel>



<p-dialog header="Export Arpeggio" [(visible)]="displayModalSaveArpFile" [modal]="true" [style]="{width: '50vw'}"
    [draggable]="false" [resizable]="false">
    <div class="m-0">
        Export File Name:
        <input [(ngModel)]="exportFileName" style="width: 400px"><br><br>
    </div>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="onSaveArpFile()" label="Ok" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>
