<div class="container">
  <div class="row">


    <div class="divTrackName col-sm-1">
      {{track.rowName}}
    </div>

    <div class="divTrackCells col-sm-4">
      <app-arp-track-cell *ngFor="let cell of track.trackData; let j = index " (click)="onCellClick(track, j)"
        [trackCellValue]="track.trackData[j]">
      </app-arp-track-cell>
    </div>
    <div class="col-sm-3">
      <button (click)="onPattern4()">Random</button>
      <button (click)="onPattern1()">1</button>
      <button (click)="onPattern2()">2</button>
      <button (click)="onClear()">Clear</button>
    </div>    
  </div>
</div>