<div class="container">
  <div class="row">


    <div class="divTrackName col-sm-1">
      {{track.rowName}}
    </div>

    <div class="divTrackCells col-6">
      <app-arp-track-cell *ngFor="let cell of track.trackData; let j = index " 
        (click)="onCellClick(track, j)"
        [trackCellValue]="track.trackData[j]"
        [cellIndex]="j"
        >
      </app-arp-track-cell>
    </div>
    <div class="col-5">
      <select (change)="onPatternChange($event)" #sltPattern>
        <option>Pick pattern</option>
        <option value="random">Random</option>
        <option value="down-beats">Down beats</option>
        <option value="off-beats">Off beats</option>
        <option value="eigth-notes">Eigth notes</option>
        <option value="clear">Clear</option>
      </select>
    </div>    
  </div>
</div>