
@{
    ViewData["Title"] = "Make Arp";
}

<script type="module" src="~/js/Arpeggio/Create.js" asp-append-version="true"></script>

</script>

<h1>Create</h1>

<simple-greeting name="World"></simple-greeting>
<simple-greeting name="World 2"></simple-greeting>