<h1>Arp Composer</h1>
<p>Make MIDI "lego blocks" for your next song</p>
<p>By Michael Rosario from <a href="https://inspiredtoeducate.net" target="_blank">InspiredToEducate.NET</a></p>
<p>Open source project located at <a href="https://github.com/michaelprosario/music-maker" target="_blank">https://github.com/michaelprosario/music-maker</a></p>
<ul>
  <li>
    Front-end UX build using Angular
  </li>
  <li>
    MIDI making leverages Microsoft .NET Core
  </li>  
  <li>
    Shout out to <a href="https://github.com/melanchall/drywetmidi"  target="_blank">Drywetmidi</a> by Maxim Dobroselsky
  </li>
</ul>