<h3>JS Arp Composer</h3>
<button onclick="onPlay()" id="btnPlay" class="btn btn-primary">Play</button>
<button onclick="onStop()" id="btnStop" class="btn btn-primary">Stop</button>
<button onclick="onClear()" id="btnClear"  class="btn btn-primary">Clear</button>

<div id="divGrid"  class="container"></div>

<div class="mb-3">
  <label class="form-label">Tempo:</label>
  <input type="text" id="txtTempo" value="120" class="form-control">    
</div>
<div class="mb-3">
  <label class="form-label">Chord Progression:</label>
  <input type="text" id="txtChordProgression" value="Em C D G" class="form-control">
</div>
<div class="mb-3">
  <label class="form-label">Instrument:</label>
  <input type="text" id="txtInstrument" value="12" class="form-control">
</div>  
