.spnTrackCell {
    border: 1px solid black;
    display: inline-block;
    height: 25px;
    text-align: center;
    vertical-align: middle;
    width: 25px;
    color: white;
}

.spnCellSelected {
    background-color: purple;
}

.spnCellNotSelected1 {
    background-color: rgb(211, 93, 211);
}

.spnCellNotSelected2 {
    background-color: rgb(240, 207, 240);
}


.spnTrackCell:hover {
    border: 1px solid white;
}
