<button (click)="onPlayTracks()" [disabled]="!playButtonEnabled">Play</button>
<button (click)="onClearTracks()">Reset</button>
<button (click)="onDownload()">Save MIDI File</button>
<midi-player [src]="midiUrl" sound-font id="midiPlayer">
</midi-player>
<p-panel header="NG Music Maker > Arpeggio Editor" [toggleable]="false">

    <div class="container">
        <div class="row">
            <div class="col-10">
                <div class="divTracks">
                    <div *ngFor="let track of tracks; let i = index">
                        <app-arp-track-row [track]="track"></app-arp-track-row>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <table>
                    <tr>
                        <td>
                            <div>
                                <div>Tempo</div>
                                <div><input [(ngModel)]="tempo"></div>
                            </div>
                            <div>
                                <div>Beats per measure</div>
                                <div><input [(ngModel)]="beatsPerMeasure"></div>
                            </div>
                            <div>
                                <div>Instrument</div>
                                <div><input [(ngModel)]="instrument"></div>
                            </div>

                            <div>
                                <div>Chord Progression</div>
                                <div><textarea [(ngModel)]="chordProgressionString" rows="3"></textarea></div>
                                <select (change)="onProgressionChange($event)">
                                    <option value="">Select progression</option>
                                    <option value="major-1">major-1</option>
                                    <option value="major-2">major-2</option>
                                    <option value="major-3">major-3</option>
                                    <option value="major-4">major-4</option>
                                    <option value="major-5">major-5</option>
                                    <option value="major-6">major-6</option>

                                    <option value="minor-1">minor-1</option>
                                    <option value="minor-2">minor-2</option>
                                    <option value="minor-3">minor-3</option>
                                    <option value="minor-4">minor-4</option>
                                </select>                                
                            </div>

                        </td>

                    </tr>
                </table>
            </div>
        </div>
    </div>




</p-panel>